<app-navbar></app-navbar>

<div class="coffee__container">
  <h1 class="coffee__title">COFFEES LIST</h1>

  <div class="coffee__filter">
    <mat-form-field 
      appearance="outline" 
      floatLabel="always" 
      class="coffee__filter--margin"
    >
      <mat-label>Amount of Limit</mat-label>
      <input 
        matInput 
        type="number" 
        class="example-right-align" 
        placeholder="0"
        [formControl]="limit"
      >
    </mat-form-field>

    <mat-form-field 
      appearance="outline" 
      floatLabel="always" 
      class="coffee__filter--margin"
    >
      <mat-label>Amount of Offset</mat-label>
      <input 
        matInput 
        type="number" 
        class="example-right-align" 
        placeholder="0"
        [formControl]="offset"
      >
    </mat-form-field>

    <button 
      class="button__filter"
      mat-icon-button
      (click)="getFiltredCoffee()"
    ><mat-icon>search</mat-icon> 
    </button>

  </div>

  <table class="coffee__table">
    <tr>
      <th class="width--20"> Coffee Name </th>
      <th class="width--20"> Coffee Brand </th>
      <th class="width--20"> Recommendations Count</th>
      <th class="width--20"> Flavors </th>
      <th></th>
    </tr>
    <tr *ngFor="let item of coffee" (click)="editCoffee(item)">
      <td class="width--20"> {{ item.name }} </td>
      <td class="width--20"> {{ item.brand }} </td>
      <td class="width--20"> {{ item.recommendations }}</td>
      <td class="width--20">
        <span *ngFor="let flavors of item.flavors">
          {{ flavors.name }} <br>
        </span> 
      </td>
      <td>
        <button 
          mat-icon-button
          (click)="deleteCoffee(item.id)"
        ><mat-icon>delete</mat-icon> 
        </button>
      </td>
    </tr>
  </table>
</div>